#cover {
    background: rgb(255, 255, 255) url('../Images/Dark_EnergyProcuementServiceLogo.png') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}


.btn-secondary, .btn-primary, .btn-info, #landingchoice, .container{
    background-image: none;
    background-color: #E44ACC;
}

.btn-warning, .btn-success{
    background-image: none;
    background-color: #E7A05D;
}
/* .container */
.container-flex, .btn-primary{
    background-image: none;
    background-color:#000000;
    /* opacity: 0.5; */
}  

.jumbotron{
    background-image: none;
    background-color:#E44ACC;
}

.form-group label{
    color: white;
}

h1 {
    color: white;
}